[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.3"
flask-sqlalchemy = "==3.1.1"
Werkzeug = "2.2.2"
marshmallow = "==3.21.3"
marshmallow-sqlalchemy = "==1.0.0"
faker = "15.3.2"
flask-migrate = "4.0.0"
flask-restful = "0.3.9"
importlib-metadata = "6.0.0"
importlib-resources = "5.10.0"
python-dotenv = "==1.0.1"
flask-bcrypt = "1.0.1"
flask-jwt-extended
pytest = "==8.2.2"

[dev-packages]

[requires]
python_version = "3.14"